rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // SiteContent Entity
    match /siteConfig/{documentId} {
      allow read: if true;
      allow write: if true; // Temporarily open due to auth issues
    }

    // Applications Entity
    match /applications/{documentId} {
      allow create: if true;
      allow read, update, delete: if true; // Temporarily open due to auth issues
    }
  }
}

